
<div class="container-fluid">


    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs vn-left-pane">
            <div class="block center">
                <h1> {{model.navigatedUser.username}}</h1>
                <a href="">
                    <img class="thumbnail profile-photo"
                         src="/project/images/profile-image.png"
                         alt=""
                         ng-show="!model.navigatedUser.imgUrl">
                    <img class="thumbnail profile-photo"
                         ng-src="{{model.navigatedUser.imgUrl}}"
                         alt=""
                         ng-show="model.navigatedUser.imgUrl">
                </a>
            </div>

        </div>
        <div class="col-xs-8 vn-right-pane">
            <h1>Profile</h1>
            <label for="first">First Name</label>
            <input ng-model="model.navigatedUser.firstName"
                   id="first"
                   class="form-control"
                   type="text"
                   placeholder="First Name"/>

            <label for="last">Last Name</label>
            <input ng-model="model.navigatedUser.lastName"
                   id="last"
                   class="form-control"
                   type="text"
                   placeholder="Last Name"/>

            <label for="email">Email</label>
            <input ng-model="model.navigatedUser.email"
                   id="email"
                   class="form-control"
                   type="email"
                   placeholder="Email"/>

            <label>Username</label>
            <input ng-model="model.navigatedUser.username"
                   class="form-control"
                   type="text"
                   placeholder="Username"/>

            <label>Phone Number</label>
            <input ng-model="model.navigatedUser.phone"
                   class="form-control"
                   type="text"
                   placeholder="Phone Number"/>


            <label>Profile Image</label>
            <input ng-model="model.navigatedUser.imgUrl"
                   type="file"
                   class="form-control"
                   name="profileImg">


            <a ng-click="model.deleteUser(model.navigatedUser)"
               class="btn btn-danger btn-block">
                Unregister
            </a>

            <a ng-click="model.updateUser(model.navigatedUser)"
               class="btn btn-primary btn-block">
                Update
            </a>

            <a ng-click="model.logout()"
               class="btn btn-danger btn-block">
                Logout
            </a>

            <div class="alert alert-danger" ng-show="model.error">
                {{model.error}}
            </div>

            <div class="alert alert-success" ng-show="model.message">
                {{model.message}}
            </div>

        </div>

</div>
</div>
