
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-right">

                <span ng-click="model.updateUser(model.user)"
                      class="glyphicon glyphicon-ok"></span>

        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Profile</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <h1>Profile</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <label for="first">First Name</label>
    <input ng-model="model.user.firstName"
           id="first"
           class="form-control"
           type="text"
           placeholder="First Name"/>

    <label for="last">Last Name</label>
    <input ng-model="model.user.lastName"
           id="last"
           class="form-control"
           type="text"
           placeholder="Last Name"/>

    <label for="email">Email</label>
    <input ng-model="model.user.email"
           id="email"
           class="form-control"
           type="email"
           placeholder="Email"/>

    <label>Username</label>
    <input ng-model="model.user.username"
           class="form-control"
           type="text"
           placeholder="Username"/>

    <label>Password</label>
    <input class="form-control" type="password" placeholder="Password"/>

    <a href="#/user/{{model.user._id}}/website" class="btn btn-success btn-block">
        Websites
    </a>

    <a ng-click="model.deleteUser(model.user)"
       class="btn btn-danger btn-block">
        Unregister
    </a>

    <a ng-click="model.updateUser(model.user)"
       class="btn btn-primary btn-block">
        Update
    </a>

    <a class="btn btn-danger btn-block" href="#/login">
        Logout
    </a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand pull-right">
                <span ng-click="model.updateUser(model.user)"
                      class="glyphicon glyphicon-home"></span>
        </div>
    </div>
</nav>
