
<div class="container-fluid">
    <h1>Register</h1>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>

    <div ng-show="model.message" class="alert alert-info">
        {{model.message}}
    </div>
    <label>Username</label>
    <input ng-model="user.username" class="form-control" placeholder="username"/>
    <label>First Name</label>
    <input ng-model="user.firstName" class="form-control" placeholder="firstName"/>
    <label>Last Name</label>
    <input ng-model="user.lastName" class="form-control" placeholder="lastName"/>
    <label>Password</label>
    <input ng-model="user.password" class="form-control" type="password" placeholder="password"/>
    <label>Verify Password</label>
    <input ng-model="user.password2" class="form-control" type="password" placeholder="validate password"/>
    <a ng-click="model.registerUser(user)" class="btn btn-primary btn-block">
        Register
    </a>
    <a class="btn btn-success btn-block" href="#/login">
        Cancel
    </a>
</div>