<div ng-include="'header/header.view.html'" ng-controller="HeaderController as modal"></div>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="container">
                <div class="carousel-caption">
                    <h1 class="brandname">Movie Now</h1>
                    <p>For Movie Lovers</p>
                    <div class="input-group">
                        <input type="text" class="form-control search-box"
                               ng-model="model.movie.title"
                               ng-keypress="model.myFunc($event, model.movie.title)"
                               placeholder="Search for a movie by title">
                        <a href="#/home/{{model.movie.title}}"
                           class="input-group-addon search-box btn-primary btn-search">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="carousel-inner" role="listbox">
                <div class="item" ng-class="{active:!$index}" ng-repeat="slide in model.slides">
                    <img ng-src="{{slide.imageUrl}}">
                </div>
                <a class="left carousel-control"
                   href=""
                   ng-click="model.slide('prev')"
                   role="button"
                   data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control"
                   href=""
                   ng-click="model.slide('next')"
                   role="button"
                   data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </div>
