

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4">
            <div class="col-xs-2">
                <div class="no-left-padding no-left-margin navbar-text">
                    <a href="#/user/{{model.userId}}/website">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                </div>
            </div>
            <div class="col-xs-8 hidden-xs">
                <div class="navbar-header">
                    <a class="navbar-brand vn-inactiveLink no-left-margin no-left-padding" href="#">Websites</a>
                </div>
            </div>
            <div class="col-xs-2 hidden-xs">
                <div class="navbar-text">
                    <a href="#/user/{{model.userId}}/website/new">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="col-xs-10">
                <div class="navbar-header">
                    <a class="navbar-brand vn-inactiveLink no-left-margin no-left-padding" href="#">New Website</a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="navbar-text no-left-padding no-left-margin pull-right">
                    <a href="#/user/{{model.userId}}/website">
                        <span ng-click="model.addWebsite(model.website, model.userId)" class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
        <div class="col-sm-4 hidden-xs vn-left-pane">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-9">
                        <a href="#/user/{{model.userId}}/website/{{model.website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                    </div>
                </div>
            </li>

        </div>
                    <div class="col-sm-8 vn-right-pane col-xs-12">
                        <label for="name">Name</label>
                        <input ng-model="model.website.name"
                               id="name"
                               type="text"
                               class="form-control"
                               placeholder="Website Name"/>

                        <label for="description">Description</label>
                        <textarea ng-model="model.website.description"
                                  id="description"
                                  rows="5"
                                  class="form-control"
                                  placeholder="Description about the website"></textarea>
                        <div class="alert alert-danger" ng-show="model.error">
                            {{model.error}}
                        </div>

                        <div class="alert alert-success" ng-show="model.message">
                            {{model.message}}
                        </div>
                    </div>

    </div>





<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
    </div>
</nav>
