input, textarea {
    margin-bottom: 7px;
}



body {
    padding-top: 59px;
}


.btn {
    border-radius: 20px;
}

.navbar {
    background: rgba(0, 128, 128, 0.68);
}
.navbar-default .navbar-brand  {
    color: darkslategray;
}
.glyphicon {

    color: darkslategray;

}

.no-left-padding{
    padding-left:0;
}

.no-left-margin{
    margin-left:0;
}