
    .navbar-default {
        background-color: #080808;
        border-color: #da1414;
    }



    .navbar-default .navbar-brand {
        color: #FFFFFF;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 60px 0 20px;
        border-bottom: 1px solid #eee;
    }