<div ng-include="'header/header.view.html'" ng-controller="HeaderController as modal"></div>

<div class="container-fluid">
<div class="row">
    <h3 class="page-header h4-page-header">Search Results</h3>
</div>

<div ng-show="model.error">
    <div class="alert alert-warning alert-box" role="alert">
        <b>Warning! </b>
        {{model.error}}
    </div>
</div>

<div class="row">
    <div ng-repeat="movie in model.movies">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <span class="label label-default">Release: {{movie.release_date}}</span>
                <a href="#/home/movie/{{movie.id}}">
                    <div class="caption">
                        <h3>{{movie.title}}</h3>
                    </div>

                    <img class="img-responsive" ng-src="{{movie.imageUrl}}"/>
                </a>
                <div class="caption">
                    <h5>{{movie.overview | limitTo:100}}{{movie.overview.length > 100 ? "..." : ""}}</h5>
                </div>
                <hr class="nomargin">
            </div>
        </div>
    </div>
</div>
</div>

