<div ng-include="'header/header.view.html'" ng-controller="HeaderController as modal"></div>



<div class="container-fluid">
    <div class="row container">
        <h3>Movie Details</h3>
    </div>
        <img class="img-responsive margin-top"
             ng-src="{{model.movie.imageUrl}}"/>

        <div class="panel panel-default">
            <div class="panel-body">
                <span class="label label-default pull-left">Release: {{model.movie.release_date}}</span>
                <h1>
                    {{model.movie.title}}
                </h1>

                <div class="caption">
            <span class="h5 text-muted" ng-repeat="genre in model.movie.genres">
            {{"#" + genre.name + " "}}
        </span>
                </div>

                <i class="fa fa-clock-o" aria-hidden="true">
                    {{model.movie.runtime + " mins"}}
                </i>

                <hr class="nomargin margin-top">
            </div>

            <div class="panel-body">
                <h4>Plot</h4>
                <p class="text-justify">{{model.movie.overview}}</p>
                <h5>Production Companies</h5>
                <ul ng-repeat="movieProductionCompany in model.movie.production_companies">
                    <li>{{movieProductionCompany.name}}</li>
                </ul>
                <h4>Cast</h4>
                <div class="ul-class">
                <div class="li-class" ng-repeat="cast in model.casts">


                            <img class="media-object cast-object" ng-src="{{cast.imageUrl}}" alt="">
                            <h4 class="media-heading hidden-xs">
                                {{cast.name | limitTo:15}}{{cast.name.length > 15 ? "..." : ""}}
                            </h4>


                </div>
                </div>
            </div>

            <div class="margin-top">
                <div class="panel panel-default">
                    <div class="panel-body less-padding" ng-show="model.videos.length > 0">
                        <div class="caption">
                            <h4>Trailer</h4>
                        </div>
                        <div ng-repeat="video in model.videos  | limitTo:1">
                            <iframe width="100%"
                                    height="200px"
                                    ng-src="{{video.url}}"
                                    frameborder="0"
                                    allowfullscreen>
                            </iframe>
                        </div>
                    </div>
                    <div ng-show="model.similar.length > 0">
                        <div class="panel-body less-padding">
                            <div class="caption">
                                <h4>Similar movies</h4>
                            </div>
                        </div>
                        <div class="sim-parent-class">
                        <div class="sim-child-class" ng-repeat="item in model.similar">
                            <a href="#/home/movie/{{item.id}}">
                                <img class="sim-object media-object" ng-src="{{item.imageUrl}}"/>
                                <div class="media-heading hidden-xs">
                                    <h4>{{item.title | limitTo:15}}{{item.title.length > 15 ? "..." : ""}}</h4>
                                </div>
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>
                LIKE THIS MOVIE
                <span ng-show="user._id">
                        <a href=""
                           ng-click="model.likeMovie()"
                           ng-hide="model.isLiked">
                            <i class="fa fa-thumbs-o-up orange"></i>
                        </a>
                        <a href=""
                           ng-click="model.undoLikeMovie()"
                           ng-show="model.isLiked">
                            <i class="fa fa-thumbs-up green"></i>
                        </a>
                    </span>
                <span ng-show="!user._id">
                        <a href=""
                           data-toggle="tooltip"
                           data-placement="top"
                           title="Please login to like!"
                           ng-disabled="!user._id">
                            <i class="fa fa-thumbs-o-up orange"></i>
                        </a>
                    </span>
            </h2>
            <div>
                <hr>
                <div class="panel-heading">
                    <h3>Reviews</h3>
                </div>
                <div ng-repeat="review in model.reviews">
                    <div class="panel-body">
                        <div class="media">
                            <div class=" media-body">
                                <h4 class="media-heading">
                                    {{review.title}}
                                </h4>
                                <small>
                        <span>
                            <ng-rating ng-model="review.rating"
                                       editable="false"
                                       show-grade="true">
                            </ng-rating>
                        </span>
                                </small>
                                <p class="text-justify">
                                    {{review.description}}
                                </p>
                            </div>
                        </div>

                    </div>


                    <hr class="nomargin">
                </div>

                <div class="panel-body">
                    <div class="well">
                        <h4>Write a Review:</h4>
                        <p>
                            <ng-rating ng-model="model.review.rating"
                                       editable="true">
                            </ng-rating>
                        </p>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Please enter title of the review"
                                       ng-model="model.review.title"/>
                            </div>
                            <div class="form-group">
                    <textarea class="form-control" rows="3" placeholder="Please enter description of the review"
                              ng-model="model.review.description"></textarea>
                            </div>
                            <a href="" class="btn btn-success" ng-show="user._id"
                               ng-click="model.addReview(model.review)"
                               role="button">Submit</a>
                            <a href="" class="btn btn-warning" ng-show="!user._id" ng-disabled="!user._id"
                               role="button">Please login to review!</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
