<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
            <div class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
            <div class="navbar-text pull-right">
                <span class="glyphicon glyphicon-plus"></span>
            </div>
        </a>
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget" class="navbar-brand">Widgets</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div>
        <div id="{{widget._id}}" ng-repeat="widget in model.widgets | orderBy:'index'">
            <div class="cust-toolbar pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch="widget.type">
                <div ng-switch-when="HEADER">
                    <ng-include src="'widgets/templates/widget-HEADER.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'widgets/templates/widget-IMAGE.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'widgets/templates/widget-HTML.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="YOUTUBE" class="youtube-widget">
                    <ng-include src="'widgets/templates/widget-YOUTUBE.view.client.html'"></ng-include>
                </div>
                <div ng-switch-when="TEXT">
                    <ng-include src="'widgets/templates/widget-TEXT.view.client.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}">
            <div class="navbar-text pull-right">
                <span class="glyphicon glyphicon-home"></span>
            </div>
        </a>
    </div>
</nav>