

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-2">
            <div class="navbar-text">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        </div>
        <div class="col-xs-10">
            <div class="navbar-header">
                <a class="navbar-brand vn-inactiveLink no-left-margin no-left-padding" href="#">Choose Widget</a>
            </div>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <li class="list-group-item">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/123">
            <h4>Header</h4>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/456">
            <h4>HTML</h4>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/345">
            <h4>Image</h4>
        </a>
    </li>
    <li class="list-group-item">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/678">
            <h4>Youtube</h4>
        </a>
    </li>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header navbar-brand pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-home"></span>
            </a>
        </div>
    </div>
</nav>

