<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
            <div class="navbar-text pull-left">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </div>
        </a>


        <a href="" ng-click="model.update(model.widget)">
            <div class="navbar-text pull-right ">
                <span class="glyphicon glyphicon-ok"></span>
            </div>
        </a>
        <div class="pull-right col-xs-2">
            <a href="" ng-click="model.delete()">
                <div class="navbar-text pull-left">
                    <span class="glyphicon glyphicon-trash"></span>
                </div>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">Widget Editor</a>
        </div>
    </div>
</nav>
<div ng-show="model.error" class="alert alert-danger">{{model.error}}</div>
<div ng-show="model.message" class="alert alert-success">{{model.message}}</div>
<div class="container-fluid"
     ng-if="model.widget" ng-include="model.getEditorTemplateUrl(model.widget.widgetType)">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <a href="#/user/{{model.userId}}">
            <div class="navbar-text pull-right">
                <span class="glyphicon glyphicon-home"></span>
            </div>
        </a>
    </div>
</nav>