<h1>YOUTUBE Editor</h1>

<form>
    <label for="edit_widget_youtube_name">Name</label>
    <input ng-model="model.widget.name" id="edit_widget_youtube_name" class="form-control" type="text" placeholder="name">
    <label for="edit_widget_youtube_url">URL</label>
    <input ng-model="model.widget.url" id="edit_widget_youtube_url" class="form-control" type="url"
           placeholder="https://www.youtube.com/embed/1G4isv_Fylg">
    <label for="edit_widget_youtube_width">Width</label>
    <input ng-model="model.widget.width" id="edit_widget_youtube_width" class="form-control" type="text" placeholder="0">
</form>