<h1>YOUTUBE Editor</h1>

<label>Name</label>
<input ng-model="model.widget.name"
       type="text"
       class="form-control">


<label>URL</label>
<input ng-model="model.widget.url"
       type="text"
       class="form-control">

<a ng-click="model.addWidget(model.pageId, model.widget)"
   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"

   class="btn btn-primary btn-block">Add</a>


<a ng-click="model.updateWidget(model.widget._id, model.widget)"
   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"

   class="btn btn-success btn-block">Update</a>

<a ng-click="model.deleteWidget(model.widget._id)"
   href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget"

   class="btn btn-danger btn-block">Delete</a>

<div class="alert alert-danger" ng-show="model.error">
    {{model.error}}
</div>

<div class="alert alert-success" ng-show="model.message">
    {{model.message}}
</div>

<div class="alert alert-danger" ng-show="model.errmsg">
    {{model.errmsg}}
</div>

<div class="alert alert-success" ng-show="model.delmessage">
    {{model.delmessage}}
</div>