<h1>IMAGE Editor</h1>

<form action="/api/upload" method="post" enctype="multipart/form-data">
    <label for="edit_widget_image_name">Name</label>
    <input ng-model="model.widget.name" id="edit_widget_image_name" class="form-control" type="text" placeholder="name">
    <label for="edit_widget_image_url">URL</label>
    <input ng-model="model.widget.url" id="edit_widget_image_url" class="form-control" type="text"
           placeholder="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQLEL_Kz30VkOh_OfUCzczxxD5S5Eur3PvC2Y1teeVz4HFJ8htQ">
    <label for="edit_widget_image_width">Width</label>
    <input ng-model="model.widget.width" id="edit_widget_image_width" class="form-control" type="text" placeholder="0">
    <label for="edit_widget_image_upload">Image Upload</label>
    <input  id="edit_widget_image_upload" name="myFile"  type="file" class="form-control"/>
    <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
    <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
    <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
    <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
    <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
</form>