

<div class="container-fluid">
    <h1>Register</h1>

    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div class="alert alert-success" ng-show="model.message">
        {{model.message}}
    </div>

    <label for="username">Username</label>
    <input ng-model="model.user.username"
           id="username"
           type="text"
           class="form-control"
           placeholder="username"/>

    <label for="password">Password</label>
    <input ng-model="model.user.password"
           id="password"
           class="form-control"
           type="password"
           placeholder="password"/>

    <label for="password2">Verify Password</label>
    <input ng-model="model.user.password"
           id="password2"
           class="form-control"
           type="password"
           placeholder="verify password"/>

    <a ng-click="model.addUser(model.user)" class="btn btn-primary btn-block">Register</a>
    <a href="#/login" class="btn btn-danger btn-block">Cancel</a>
</div>
